body{
  font-family: 'Poppins';
}

.titolo-class{
    background-color: #064887;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    text-align: center;

  }

  .linea{
    padding: 1rem;
    border-bottom: 3px groove rgba(6, 73, 135, 0.377);
    margin-bottom: 8px;
}
  