<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classifica Utente</title>
</head>
<body>

    <div class="row titolo-class d-flex text-center"> <!-- qui legenda dei campi della classifica-->
        <h2>Classifica utenti</h2>
    </div>

     <div class="row d-flex align-items-center justify-content-center linea">
        <div class="col-4 text-center">
            <h3>POS</h3>
          </div>
      <div class="col-4 text-center">
        <h3>UTENTE</h3>
      </div>
      <div class="col-4 text-center">
        <h3> PUNTI </h3>
      </div>
    </div>
    <div *ngFor="let users of usersStanding let i = index">
        <div class="row d-flex align-items-center justify-content-center linea">
            <div class="col-4 text-center">
                <h3>{{i + 1}}°</h3>
              </div>
          <div class="col-4 text-center">
            <h3>{{users.username}}</h3>
          </div>
          <div class="col-4 text-center">
            <h3> {{users.count_bet}} </h3>
          </div>
        </div>
      </div>
      
</body>
</html>
