body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.linea{
    padding: 1rem;
    border-bottom: 3px groove rgba(6, 73, 135, 0.377);
    margin-bottom: 8px;
}

.legenda {
    padding: 10px 0 15px 0;
}

.legenda p{
    display: flex;
    justify-content: end;
    margin: -1px;
}

.legenda h2 {
    padding-left: 20px;
}

.legenda .titolo{
    color: darkred;
    font-size: large;
    font: bold
}
.btn{
    background-color: #064887;
  }