<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Statistiche</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>

<body>

  <div class="row titolo-class d-flex text-center pt-5"> <!-- qui legenda dei campi della classifica-->
    <h2>Classifiche</h2>
  </div>
  
<div class="container">
    <div class="row justify-content-center mt-2">
      <div class="col-6">
      <div class="form-group">
        <label for="leagueSelect" class="form-label pt-2">Seleziona il campionato:</label>
        <select id="leagueSelect" [(ngModel)]="selectedLeague" name="leagueSelect" class="form-select mx-auto">
          <option value="" disabled selected>Seleziona il campionato</option>
          <option *ngFor="let league of leagues" [value]="league.value">{{ league.name }}</option>
        </select>
      </div>
    </div>
    <div class="row justify-content-center mt-2">
      <div class="col-md-6 text-center">
        <button class="btn" (click)=" standingsLeague()">Cerca</button>
      </div>
    </div>
  </div>
    
    <div class="row legenda d-flex text-center">
        <p class="titolo">LEGENDA</p>
        <p>POS = posizione in classifica</p>
        <p>SQ = nome squadra</p>
        <p>PTS = punti ottenuti</p>
        <p>W = match vinto</p>
        <p>L = match perso</p>
      </div>
    </div>


<div class="container rating pr-4">
    <div *ngFor="let classifica of classifica" class="row d-flex align-items-center text-center linea">
     
        <div class="col-2">
          <p>POS</p>
          <h2>{{ classifica.position }}</h2>
        </div>
        
        <div class="col-2">
          <img class="img-fluid" src="{{ classifica.logo }}" >
          
        </div>
        <div class="col-3 text-center"> <!-- serve + spazio per il nome se è troppo lungo!!!!-->
          <p>SQ</p>
            <p>{{classifica.team}}</p>
         </div>

         <div class="col-2"> 
          <p>PTS</p>
          <p>{{classifica.points}}</p>
         </div>

         <div class="col-3"> 
          <p class="text-center">FORM</p>
            <p>{{classifica.form}}</p>
          </div>

          <div class="col-lg--2"> 
            <p>{{classifica.zona}}</p>
          </div>
    </div>
  </div>
  
</body>
</html>
