body{
    font-family: 'Poppins';
}

.titolo-class{
    background-color: #064887;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    text-align: center;
}

.linea{
    padding: 1rem;
    border-bottom: 3px groove rgba(6, 73, 135, 0.377);
    margin-bottom: 8px;
}

.legenda {
    padding: 10px 0 15px 0;
}

.legenda p{
    display: flex;
    justify-content: end;
    margin: -1px;
}

.legenda h2 {
    padding-left: 20px;
}

.legenda .titolo{
    color: darkred;
    font-size: large;
    font: bold
}
.btn{
    background-color: #064887;
    color: whitesmoke;
    margin: 4px;
    padding-top: 5px;
}

.btn:hover{
    background-color: #08549c;
    color: whitesmoke;
}

.btn:active, .btn:focus {
    background-color: #064887;
    color: whitesmoke;
}
