<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profilo</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>

<body>

  <div class="container">
    <div class="row pb-4">
      <h1> Il mio account </h1>
    </div>
    <div class="row">
      
      <div class="col-5">
        <i class="bi bi-person pr-5"></i> {{loginBodyJson.mail}} 
      </div>
      
      <div class="col-3">
        {{   coinsUpdate.money }}  <i class="bi bi-cash"></i> 
        <br>
        <button class="increment-button" (click)="incrementCoins()" [disabled]="isButtonDisabled"> + 10 </button>
      </div>
      
      <div class="col-4">
        <a class="other-prizes" [routerLink]="['/gioca']"><i class="fas fa-dice"></i>vuoi ottenere più gettoni? Gioca!</a>
      </div>
    
    </div>
    <div class="prizes pt-4">
      <h3> Premi </h3>
      <p> Scegli come spendere i gettoni che hai guadagnato</p>
      </div>  
    </div>
       
<!-- card -->
  <div class="container">
    <div class="card-container">
      <div *ngFor="let card of cards" class="card">
        <img [src]="card.image" class="img-fluid card-img-top" alt="...">
        <div class="card-body ">
          <h5 class="card-title">{{ card.title }}</h5>
          <p class="card-text">{{ card.description }}</p>
          <p class="card-text">{{ card.prezzo }}</p>
            <a href="#" class="btn ottieni ">Ottieni</a>
        </div>
      </div>
    </div>
  </div>


  <div class="container le-tue-bet pt-4">
    <div class="row">
      <h3>Le tue bet</h3>
    </div>
    <div class="row">
      <p>Rivedi le tue scommesse passate</p>
    </div>
    <div class="container tendine">
      <!-- Prima row con i 3 menu a tendina -->
      <div class="row filtri text-center">
        <div class="col-md-4 col-md-offset-4">
          <div class="form-group">
            <label for="leagueSelect" class="form-label pt-2">Seleziona il campionato:</label>
            <select id="leagueSelect" [(ngModel)]="selectedLeague" name="leagueSelect" class="form-select mx-auto">
              <option value="" disabled selected>Seleziona il campionato</option>
              <option *ngFor="let league of leagues" [value]="league.value">{{ league.name }}</option>
            </select>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="form-group">
            <label for="weekSelect" class="form-label pt-2">Seleziona la giornata:</label>
            <select id="weekSelect" [(ngModel)]="betBodyJson.week" name="weekSelect" class="form-select mx-auto">
              <option value="" disabled selected>Seleziona la giornata</option>
              <option *ngFor="let week of weeks" [value]="week">{{ week }}</option>
            </select>
          </div>
        </div>
      </div>
    
      <!-- Seconda row con il pulsante "Cerca" al centro -->
      <div class="row cerca mt-2">
        <div class="col-md-4 text-center pb-5">
          <button class="btn btn-search" (click)="weekFilterResults()">Cerca</button>
        </div>
      </div>
    </div>


    <div class="row">
      <!-- inserire qui l'API per le bet vecchie-->
      <div *ngFor="let partita of bets " class="row p-5 align-items-center p-3 text-center justify-content-between">
        <ng-container *ngIf="partita?.teams && partita.teams.length >= 2">
         <div class="col-12 text-center"> 
          <h3>{{partita.date| date: 'dd/MM/yyyy'}}</h3> 
          <p>giornata: {{partita.week}}</p>
        </div>
        <div class="col-4">
         <!--Squadra casa -->
         <img src="{{ partita.teams[0]?.logo }}" class="img-fluid team-logo" alt="logo squadra casa">
        </div>
        <div class="col-4">
          <h3 class="flex-column">{{ partita.teams[0]?.name }}</h3>
  
        </div>
  
        <div class="col-4">
          <i class="bi bi-hand-thumbs-up" ></i> 
        </div>
  
        <div class="col-4">
           <!--Squadra away -->
          <img src="{{ partita?.teams[1]?.logo }}" class="img-fluid team-logo" alt="logo squadra trasferta">
        </div>
  
        <div class="col-4">
          <h3 class="flex-column pb-5">{{ partita?.teams[1]?.name }}</h3>
  
          <div>
            <hr class="spazio" /> <!-- separatore tra le due squadre-->
          </div>
  
          <p> <i class="bi bi-clock"></i> {{partita.time?.split(':').slice(0, 2).join(':')}}</p>
        </div>
  
        <div class="col-4">
          <i class="bi bi-hand-thumbs-up" ></i>
        </div>
        </ng-container>
  
      </div>
    </div>

    <div class="container le-tue-bet pt-4">
      <div class="row">
        <h3>tutte le tue bet</h3>
      </div>

    <div *ngFor="let bet of userBets " class="row p-5 align-items-center p-3 text-center justify-content-between">
      <h3>{{bet.id_game}}</h3>
      <div class="col-4">
        <img src="{{ bet.logo_scommesso }}" class="img-fluid team-logo" alt="logo squadra casa">
      </div>
      <div class="col-4">
        <h3>{{bet.name_scommesso}}</h3>  
      </div>

      <div class="col-4">
        <i class="bi bi-hand-thumbs-up-fill text-success" ></i>
      </div>

      <div class="col-4">
        <!--Squadra away -->
       <img src="{{ bet.logo_altro }}" class="img-fluid team-logo" alt="logo squadra trasferta">
     </div>

     <div class="col-4">
       <h3 class="flex-column pb-5">{{ bet.name_altro }}</h3>

     </div>

     <div class="col-4">
       <i class="bi bi-hand-thumbs-up " ></i>
     </div>
      
  </div>

<!--
    <div class="container">
      <div class="row mb-5">
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <img src="/assets/regole-e-fondamenta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card 1</h5>
              
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
              <a href="#" class="btn ottieni">Ottieni</a>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <img src="/assets/regole-e-fondamenta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn ottieni">Ottieni</a>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <img src="/assets/regole-e-fondamenta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn ottieni">Ottieni</a>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <img src="/assets/regole-e-fondamenta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn ottieni">Ottieni</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <img src="/assets/regole-e-fondamenta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn ottieni">Ottieni</a>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <img src="/assets/regole-e-fondamenta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn ottieni">Ottieni</a>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <img src="/assets/regole-e-fondamenta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn ottieni">Ottieni</a>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <img src="/assets/regole-e-fondamenta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn ottieni">Ottieni</a>
            </div>
          </div>
        </div>
      </div>
    -->
