<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profilo</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>

<body>

  <div class="container">
    <div class="row pb-4">
      <h1> Il mio account </h1>
    </div>
    <div class="row">
      
      <div class="col-5">
        <i class="bi bi-person pr-5"></i> {{loginBodyJson.mail}} 
      </div>
      
      <div class="col-3">
        {{   coinsUpdate.money }}  <i class="bi bi-cash"></i> 
        <br>
        <button class="increment-button" (click)="incrementCoins()" [disabled]="isButtonDisabled"> + 10 </button>
      </div>
      
      <div class="col-4">
        <a class="other-prizes" [routerLink]="['/gioca']"><i class="fas fa-dice"></i>vuoi ottenere più gettoni? Gioca!</a>
      </div>
    
    </div>
    <div class="prizes pt-4">
      <h3> Premi </h3>
      <p> Scegli come spendere i gettoni che hai guadagnato</p>
      <!--<ul>
          <li *ngFor="let prize of prizes">
              <img [src]="prize.img" alt="Immagine del premio">
              <p>{{prize.description}}</p>
              <p>Costo: {{prize.cost}}</p>
              <p>Progresso: {{prize.progress}}</p>
          </li>
      </ul>-->
      </div>  
    </div>
       
<!-- card -->
  <div class="container">
    <div class="card-container">
      <div *ngFor="let card of cards" class="card">
        <img [src]="card.image" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ card.title }}</h5>
          <p class="card-text">{{ card.description }}</p>
          <a href="#" class="btn ottieni">Ottieni</a>
        </div>
      </div>
    </div>
  </div>


  <div class="container le-tue-bet pt-4">
    <div class="row">
      <h3>Le tue bet</h3>
    </div>
    <div class="row">
      <p>Rivedi le tue scommesse passate</p>
    </div>
    <div class="row">
      <!-- inserire qui l'API per le bet vecchie-->
    </div>
  </div>

<!--
    <div class="container">
      <div class="row mb-5">
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <img src="/assets/regole-e-fondamenta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card 1</h5>
              
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
              <a href="#" class="btn ottieni">Ottieni</a>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <img src="/assets/regole-e-fondamenta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn ottieni">Ottieni</a>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <img src="/assets/regole-e-fondamenta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn ottieni">Ottieni</a>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <img src="/assets/regole-e-fondamenta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn ottieni">Ottieni</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <img src="/assets/regole-e-fondamenta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn ottieni">Ottieni</a>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <img src="/assets/regole-e-fondamenta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn ottieni">Ottieni</a>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <img src="/assets/regole-e-fondamenta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn ottieni">Ottieni</a>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <img src="/assets/regole-e-fondamenta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn ottieni">Ottieni</a>
            </div>
          </div>
        </div>
      </div>
    -->
