@import "~@fortawesome/fontawesome-free/css/all.css";

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.bi-person{
    font-size: xx-large;
}

.bottone-soldi{
    margin-top: -25px;
}

.other-prizes {
    width: 100%;
    text-align: center;
    color: black;
}

.increment-button {
    font-size: 10px;
    border: 2px solid black;
    border-radius: 30px;
    padding: 4px 8px;
    margin-top: 6px;
}

.ottieni{
    background-color: #e2aa00b8;
    display: flex;
    justify-content: center;
    justify-self: end;
    align-items: baseline;
}

.ottieni:hover{
    background-color: #cc9d0eb8;
}
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    width: calc(25% - 20px); /* Imposta la larghezza desiderata per ogni card */
    margin-bottom: 20px;
    box-sizing: border-box;
  }

.card-img-top{
    max-width: 280px;
    max-height: 170px;
}

.team-logo{
  max-width: 100px;
}

.cerca{
  font-size: 16px;
  background-color: #064887;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  transition: background-color 0.1s ease;
}

.scommessa{
  font-size: 16px;
  background-color: #064887;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  transition: background-color 0.1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottone-scom{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.scommessa:hover, .cerca:hover {
  background-color: #0967be; /* Cambia colore durante l'hover */
  color: white;

}
  
.scommessa:active, .cerca:active,
.scommessa:focus, .cerca:focus {
  background-color: #064887;
  color: #fff;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 5px;
}

.bet{
  padding-bottom: 50px;
}
  
  @media (max-width: 767px) {
    .card {
      width: calc(50% - 20px); /* Modifica la larghezza su schermi più piccoli */
    }

    .team-logo{
      max-width: 70px;
    }
  }
  