body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

header {
    background-color: white;
    color: #064887;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img.img-fluid {
    max-height: 50px;
  }

.logo-short img.img-fluid {
   max-height: 50px;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin-right: 15px;
}

.nav-list a {
    text-decoration: none;
    color: #064887;
    font-weight: bold;
}

.footer {
    background-color: #e2aa00b8;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-columns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.footer-column {
    flex: 1;
    text-align: center;
    padding: 1px;
}

/* Media query per la versione mobile */
@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: stretch;
        position: fixed;
        bottom: 0;
        left: 0; /* Aggiunto per ancorare al margine sinistro */
        width: 100%;
        background-color: white;
        z-index: 1;
    }

    .nav-list {
        margin-top: 8px;
        justify-content: space-around;
    }

    /* Aggiunta per il footer in versione mobile */
    .footer {
        background-color: rgb(172, 165, 165)a6a;
        color: white;
        padding: 20px;
        text-align: center;
        z-index: 1;
    }

    .footer-columns {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footer-column {
        flex: 1;
        text-align: left;
        padding: 10px;
        width: 100%;
    }

    /* Aggiunta per evitare che il footer venga coperto dalla navbar */
    body {
        margin-bottom: 100px; /* Altezza della navbar + margine di sicurezza */
    }
}

/* Media query per dispositivi desktop */
@media screen and (min-width: 601px) {
    .navbar {
        position: static; /* Rimuovi il posizionamento fisso */
    }

    /* Aggiunta per ripristinare il margine inferiore del corpo */
    body {
        margin-bottom: 0;
    }
}

