body{
    font-family: 'Poppins';
}

.titolo-class{
    background-color: #064887;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    text-align: center;
  }

.team-logo{
    max-width: 90px;
    max-height: 100px;
    min-width: 80px;
}

@media (max-width: 767px) {
    .team-logo{
      max-width: 60px;
    }
  }