<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gioca</title>
  
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>

<body>

    <h2 class="titolo-class">Gioca</h2>


<div class="container">
    <div *ngFor="let partita of bets " class="row pb-5 align-items-center text-center justify-content-between">
      <ng-container *ngIf="partita?.teams && partita.teams.length >= 2">
       <div class="col-12 text-center"> 
        <h3>{{partita.date | date: 'dd/MM/yyyy'}}</h3> 
        <p>giornata: {{partita.week}}</p>
      </div>

      <div class="col-4">
       <!--Squadra casa -->
       <img src="{{ partita.teams[0]?.logo }}" class="img-fluid team-logo" alt="logo squadra casa">
      </div>
      
      <div class="col-4  text-center pb-3">
        <h3 class="flex-column ">{{ partita.teams[0]?.name }}</h3>
      </div>

      <div class="col-4">
        <button class="btn scommetti" 
                [disabled]="betButtonDisabled[partita.id_game]"
                (click)="setBetBody(partita.teams[0].id_team, partita.id_game)">
              ✓
        </button>
      </div>

      <div class="col-4">
         <!--Squadra away -->
        <img src="{{ partita?.teams[1]?.logo }}" class="img-fluid team-logo" alt="logo squadra trasferta">
      </div>

      <div class="col-4">
        <h3 class="flex-column d-flex text-center">{{ partita?.teams[1]?.name }}</h3>
        
        <div>
          <hr class="spazio" /> <!-- separatore tra le due squadre-->
        </div>

        <p> <i class="bi bi-clock"></i> {{partita.time?.split(':').slice(0, 2).join(':')}}</p>
      </div>

      <div class="col-4">
        <button class="btn scommetti" 
                [disabled]="betButtonDisabled[partita.id_game]"
                (click)="setBetBody(partita.teams[1].id_team, partita.id_game)">
              ✓
        </button>
      </div>
      </ng-container>
    </div>
  </div>


  
  <!-- Chiudi il tag body -->
</body>
</html>

