<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dettaglio del game</title>
  
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

</head>

<body>

  <h2 class="titolo-class">Game</h2>


<div class="container-fluid align-items-center text-center justify-content-between">
  <div class="row text-center separator pb-4"> 
    <p>Informazioni della partita del giorno:</p>
    <h3>{{ gameDetail.date | date: 'dd/MM/yyyy' }}</h3>
  </div>
  
  <!-- iterazione nell'array dell'oggetto teams -->
  <div *ngFor="let team of gameDetail.teams">
    <div class="row d-flex align-items-center justify-content-center">
      <!-- Logo  squadre -->
      <div class="col-3">
        <img src="{{ team.logo }}" class="img-fluid p-2 team-logo" alt="logo squadra">
      </div>
      <!-- Nome  squadre -->
      <div class="col-4 text-center">
        <p class="team-name">{{ team.name }}</p>
      </div>

      <div class="col-3">
          <p > {{ team.periods?.join(' | ') }}</p>
        </div>

      <!-- Risultato finale -->
      <div class="col-2 text-center">
        <p class="team-set">{{ team.set }}</p>
      </div>
      
    </div>
      <hr /> <!-- separatore tra le due squadre-->
    </div>
</div>
</body>
</html>l

