<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

</head>
<body>
  
<div class="container-fluid align-items-center text-center justify-content-between">
  <div class="col-12 text-center separator"> <h3>{{ risultatiDefaultGame.league_name }}</h3></div>
  
  <!-- iterazione nell'array dell'oggetto teams -->
  <div *ngFor="let team of risultatiDefaultGame.teams">
    <div class="row d-flex align-items-center justify-content-center">
      <!-- Logo  squadre -->
      <div class="col-4">
        <img src="{{ team.logo }}" class="img-fluid p-2 team-logo" alt="logo squadra">
      </div>
      <!-- Nome  squadre -->
      <div class="col-4 text-center">
        <p class="team-name">{{ team.name }}</p>
      </div>
      <!-- Risultato finale -->
      <div class="col-4 text-center">
        <p class="team-set">{{ team.set }}</p>
      </div>
      
    </div>
      <hr /> <!-- separatore tra le due squadre-->
    </div>

    <div class="col-4 text-center mt-3"> 
      <p><i class="bi bi-clock"></i> {{ risultatiDefaultGame.ora }}</p>
    </div> <!-- fuori dal ngFor -->
</div>

<div class="container tendine">
  <!-- Prima row con i 3 menu a tendina -->
  <div class="row filtri text-center">
    <div class="col-md-4 col-md-offset-4">
      <div class="form-group">
        <label for="leagueSelect" class="form-label pt-2">Seleziona il campionato:</label>
        <select id="leagueSelect" [(ngModel)]="selectedLeague" name="leagueSelect" class="form-select mx-auto">
          <option value="" disabled selected>Seleziona il campionato</option>
          <option *ngFor="let league of leagues" [value]="league.value">{{ league.name }}</option>
        </select>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="seasonSelect" class="form-label pt-2">Seleziona la stagione:</label>
        <select id="seasonSelect" [(ngModel)]="selectedSeason" name="seasonSelect" class="form-select mx-auto">
          <option value="" disabled selected>Seleziona la stagione</option>
          <option *ngFor="let season of seasons" [value]="season.value">{{ season.period }}</option>
        </select>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="weekSelect" class="form-label pt-2">Seleziona la giornata di campionato:</label>
        <select id="weekSelect" [(ngModel)]="requestBody.week" name="weekSelect" class="form-select mx-auto">
          <option value="" disabled selected>Seleziona la giornata</option>
          <option *ngFor="let week of weeks" [value]="week">{{ week }}</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Seconda row con il pulsante "Cerca" al centro -->
  <div class="row cerca mt-2">
    <div class="col-md-4 text-center">
      <button class="btn btn-search" (click)="weekFilterResults()">Cerca</button>
    </div>
  </div>
</div>


<div class="container align-items-center">
    <div *ngFor="let partita of risultatiPartite" class="row bg-warning align-items-center p-3 text-center justify-content-between" (click)="showGameDetail(partita.id_game)">
      <ng-container *ngIf="partita?.teams && partita.teams.length >= 2">
       <div class="col-12 text-center"> 
        <h3>{{partita.league_name}}</h3> 
        <p>giornata: {{partita.week}}</p>
      </div>
      <div class="col-4">
       <!--Squadra casa -->
        <img src="{{ partita.teams[0]?.logo }}" class="img-fluid w-10" alt="logo squadra casa">
      </div>
      <div class="col-4">
        <h3 class="flex-column">{{ partita.teams[0]?.name }}</h3>
      </div>
      
      <div class="col-4">
        <h3 class="flex-column">{{ partita?.teams[0]?.set }}</h3> 
      </div>
  
      <div class="col-4">
         <!--Squadra away -->
        <img src="{{ partita?.teams[1]?.logo }}" class="img-fluid p-3" alt="logo squadra trasferta">
      </div>
        
      <div class="col-4">
        <h3 class="flex-column">{{ partita?.teams[1]?.name }}</h3>
      
        <div>
          <hr /> <!-- separatore tra le due squadre-->
        </div>

        <h3> <i class="bi bi-clock"></i> {{ partita.ora}}</h3>
        <button class="btn btn-primary" (click)="showGameDetail(partita.id_game)" *ngIf="partita.id_game">Dettagli</button>
      </div>

      <div class="col-4">
        <h3>{{ partita?.teams[1]?.set }}</h3>
      </div>
      </ng-container>
    </div>
  </div>
  
</body>
</html>

  
  
