<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>


  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

</head>
<body>
  
    <h2 class="titolo-class">Risultati</h2>

<div class="container-fluid align-items-center text-center justify-content-between">
  <div class="col-12 text-center separator"> 
    <h3>{{ risultatiDefaultGame.league_name }}</h3>
    <p>Ultima partita giocata della Superlega: </p>
      <p class="text-center"> {{ risultatiDefaultGame.data | date: 'dd/MM/yyyy'  }} </p>
  </div>
  
  <!-- iterazione nell'array dell'oggetto teams -->
  <div *ngFor="let team of risultatiDefaultGame.teams">
    <div class="row d-flex align-items-center justify-content-center">
      <!-- Logo  squadre -->
      <div class="col-4">
        <img src="{{ team.logo }}" class="img-fluid p-2 team-logo" alt="logo squadra">
      </div>
      <!-- Nome  squadre -->
      <div class="col-4 text-center">
        <p class="team-name">{{ team.name }}</p>
      </div>

      <!-- Risultato finale -->
      <div class="col-4 text-center">
        <p class="team-set">{{ team.set }}</p>
      </div>
      
    </div>
      <hr /> <!-- separatore tra le due squadre-->
    </div>

    <div class="col-4 d-flex justify-content-center text-center mt-3"> 
      <p><i class="bi bi-clock"></i> {{ risultatiDefaultGame.ora?.split(':').slice(0, 2).join(':')  }} </p>
    </div> <!-- fuori dal ngFor -->
</div>

<div class="container tendine">
  <!-- Prima row con i 3 menu a tendina -->
  <div class="row filtri text-center">
    <div class="col-md-4 col-md-offset-4">
      <div class="form-group">
        <label for="leagueSelect" class="form-label pt-2">Seleziona il campionato:</label>
        <select id="leagueSelect" [(ngModel)]="selectedLeague" name="leagueSelect" class="form-select mx-auto">
          <option value="" disabled selected>Seleziona il campionato</option>
          <option *ngFor="let league of leagues" [value]="league.value">{{ league.name }}</option>
        </select>
      </div>
    </div>

    <!-- Stagione -->
<div class="col-md-4">
  <div class="form-group">
    <label for="seasonSelect" class="form-label pt-2">Seleziona la stagione:</label>
    <select id="seasonSelect" [(ngModel)]="selectedSeason" name="seasonSelect" class="form-select mx-auto">
      <option value="-1" disabled selected>Seleziona la stagione</option>
      <option *ngFor="let season of seasons" [value]="season.value">{{ season.period }}</option>
    </select>
  </div>
</div>


    <div class="col-md-4">
      <div class="form-group">
        <label for="weekSelect" class="form-label pt-2">Seleziona la giornata:</label>
        <select id="weekSelect" [(ngModel)]="requestBody.week" name="weekSelect" class="form-select mx-auto">
          <option value="" disabled selected>Seleziona la giornata</option>
          <option *ngFor="let week of weeks" [value]="week">{{ week }}</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Seconda row con il pulsante "Cerca" al centro -->
  <div class="row cerca">
    <div class="col-12 text-center pb-5">
      <button class="btn btn-search" (click)="weekFilterResults()">Cerca</button>
    </div>
  </div>
</div>


<div class="container align-items-center">
    <div *ngFor="let partita of risultatiPartite" class="row pb-5 pt-5 align-items-center p-3 text-center justify-content-between">
      <ng-container *ngIf="partita?.teams && partita.teams.length >= 2">
       <div class="col-12 text-center"> 
        <h3>{{partita.league_name}}</h3> 
        <p>giornata: {{partita.week}}</p>
        <p> {{ partita.data | date: 'dd/MM/yyyy'  }} </p>
      </div>
      <div class="col-4">
       <!--Squadra casa -->
       <img [routerLink]="['/team', partita.teams[0].id_team, requestBody.id_league,selectedSeason]" src="{{ partita.teams[0]?.logo }}" class="img-fluid team-logo" alt="logo squadra casa" role="button">
      </div>
      <div class="col-4">
        <h3 class="flex-column">{{ partita.teams[0]?.name }}</h3>
      </div>
      
      <div class="col-4">
        <h3 class="flex-column">{{ partita?.teams[0]?.set }}</h3> 
      </div>
  
      <div class="col-4">
         <!--Squadra away -->
        <img [routerLink]="['/team', partita.teams[1].id_team, requestBody.id_league,selectedSeason]" src="{{ partita?.teams[1]?.logo }}" class="img-fluid team-logo" alt="logo squadra trasferta" role="button">
      </div>
        
      <div class="col-4">
        <h3 class="flex-column pb-5">{{ partita?.teams[1]?.name }}</h3>
      
        <div>
          <hr class="spazio" /> <!-- separatore tra le due squadre-->
        </div>

        <p> <i class="bi bi-clock"></i> {{partita.ora?.split(':').slice(0, 2).join(':')}}</p>
        <button class="btn"  [routerLink]="['/game', partita.id_game]" *ngIf="partita.id_game">Dettagli</button>
      </div>

      <div class="col-4">
        <h3>{{ partita?.teams[1]?.set }}</h3>
      </div>
      </ng-container>
    </div>
  </div>  
</body>
</html>

  
  
