body{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
.titolo-class h2{
  background-color: #064887;
  width: 100%;
  height: 100%;
  color: whitesmoke;
  padding-bottom: 5px;
}

.team-logo {
  max-height: 100px; /* Imposta l'altezza massima delle immagini delle squadre */
  min-height: 80px;
}
  
  .team-name, .team-set {
    margin: 0; /* Rimuove il margine per una presentazione più pulita */
  }
  
  /* Aggiungi spazio tra le squadre e l'orario */
  .mb-3 {
    margin-bottom: 20px;
  }
  
  /* Aggiungi spazio sopra l'orario */
  .mt-3 {
    margin-top: 20px;
  }

/* Aggiorna stili CSS per personalizzare ulteriormente il menu a tendina e il pulsante */
.form-group {
  margin-bottom: 20px;
}


.filtri{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center
}


  .form-label {
    display: block;
    margin-bottom: 8px;
    margin-top: 40px;
    font-weight: bold;
  }
  
  .form-select {
    width: 40vh;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #9bceea23;
    margin: 10px;
  }
  
  .btn-search {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #064887;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    transition: background-color 0.1s ease;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.btn-search:hover {
  background-color: #0967be; /* Cambia colore durante l'hover */
  color: white;
}
  
.btn-search:active,
.btn-search:focus {
  background-color: #064887;
  color: #fff;
}

@media screen and (min-width: 601px) {
  .cerca{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
  }
}

.spazio{
  margin-top: -40px;
}

.btn{
  background-color: #064887;
}

.team-name, .team-set{
  font-size: 23px;
}

/* Stili per la versione mobile */
@media screen and (max-width: 600px) {
  .tendine {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-group {
    width: 100%;
    margin-bottom: 15px;
  }

  .btn-search {
    width: 100%;
  }
}
